:root {
    --primary-clr: #a710ff;
  }

  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
  }

  a {
    text-decoration: none;
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  button {
    outline: none;
  }

  .card {
    width: 400px;
    height: 300px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 8px #616161;
    padding: 10px;
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .flex {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
  }

  .btn {
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
  }

  .d-none {
    display: none;
  }

  .btn-primary {
    width: 100%;
    font-size: 16px;
    background-color: var(--primary-clr);
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
    transition: .2s ease-in-out;
  }

  .btn-primary:hover {
    background-color: #b458e9;
  }

  .sm {
    font-size: 12px;
  }

  .lead {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1;
  }
  .hero .container {
    height: 100%;
    width: 100%;
  }

  .hero {
    background-color: #ececec;
    height: 500px;
    position: relative;
  }

  .hero .grid {
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }

  .section-txt h1 {
    color: var(--primary-clr);
    font-size: 36px;
    line-height: 1.8;
  }

  .form-contents {
    margin: auto;
    /* position: relative; */
  }

  .form-contents > div {
    margin-bottom: 10px;
  }

  .form-contents input {
    width: 100%;
    padding: 0.5rem 0 0.5rem 0.5rem;
  }
  .form-contents input:hover,
  .form-contents input:focus {
    outline: none;
  }

  .form-contents input:focus {
    border: 1px solid var(--primary-clr);
    box-shadow: 0 0 2px var(--primary-clr);
  }

  #f-pass {
    color: var(--primary-clr);
    font-weight: 400;
    font-size: 16px;
  }

  .rule {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
  }

  .rule::after,.rule::before {
    content: "";
    width: 100%;
    position: relative;
    top: 2px;
    border: 1px solid #ececec;
  }

  .sign-up {
    background-color: #1dc78e;
    font-weight: 600;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    transition: 5ms ease-out;
  }

  .sign-up:hover {
    background-color: #04a770;
  }

    /* Signup modal */

    dialog {
      position: absolute;
      box-shadow: 0 0 5px #dddbdb;
      border-radius: 5px;
      top: 10%;
      left: 30%;
      border: none;
    }
  
    dialog.card{
      width: 500px;
      height: 600px;
      text-align: left;
      padding: 20px;
    }
  
    #modal::backdrop {
      background-color: #f5f1f1b0;
    }
  
    #modal::-ms-backdrop {
      background-color: #f5f1f1b0;
    }
  
    #modal h1 {
      margin-bottom: 10px;
      line-height: 1.3;
    }
  
    #modal p {
      margin-bottom: 10px;
    }
  
    #modal  hr {
      margin-bottom: 20px;
    }
  
    .close-modal {
      width: 12px;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  
    .contact-info {
      margin: 10px 0;
    }
  
    .contact-info input {
      border: 1px solid #ddd;
      background-color: #f0f0f0;
      border-radius: 2px;   
  
    }
  
    select, .gender button {
      display: inline-block;
      width: 143px;
      padding: 7px;
      outline: none;
      background-color: #fff;
      border-radius: 2px;
    }
  
    .gender button {
      display:inline-flex;
      color: #070707;
      border: #616161 1px solid;
    }
  
    .gender button input[type="radio"] {
      margin-left: 50px;
  
    }
  
    label {
      display: inline-block;
      margin-bottom: 10px;
    }
  
    
    .modal-sign-up {
      width: 180px;
      display: block;
      margin-left:auto;
      margin-right: auto;
      margin-top: 25px;
      padding: 8px;
      border: none;
      border-radius: 7px;
      background-color: #1dc78e;
      cursor: pointer;
    }

  .text {
    text-align: center;
    margin-top: 15px;
  }

  .text a {
    color: inherit;
  }

  footer {
    padding: 15px 0;
  }


  .footer ul li {
    display: inline-block;
    padding-right: 8px;
  }

  .footer ul button {
    padding: 0 4px;
    color: #070707;
    width: 30px;
  }

  .footer ul li a {
    color: #616161;
    line-height: 1.5;
  }
  .footer ul li a.active {
    font-weight: 600;
  }

  .copyright {
    margin-top: 5px;
    font-size: 15px;
    color: #616161;
  }

  /* Media queries */

  /******* mobile and beyond ******/

  @media screen and (max-width: 768px) {
    .hero {
      background-color: inherit;
      height: auto;
      margin-bottom: 50px;
    }

    .hero .grid {
      grid-template-columns: 1fr;
      grid-template-rows: 50px 250px;
      text-align: center;
      gap: 15px;
    }

    .section-txt h1 {
      font-size: 20px;
    }

    .hero .lead {
      display: none;
    }

    .form-contents {
      width: 100%;
      box-shadow: none;
    }
    .form-contents hr {
      display: none;
    }

    .form-contents input {
      border: none;
      background-color: #f0f0f0;
      border-radius: 2px;
      box-shadow: 0 0 3px rgb(179, 177, 177);
    }

    .rule {
      display: flex;

  }

    .sign-up {
      margin-top: 18px;
      width: 80%;
    }

    .text {
      display: none;
    }

    .footer ul.lang {
      text-align: center;
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }

    .footer ul.lang li {
      margin: 5px 0;
    }

    .footer ul button {
      justify-self: center;
    }

    footer ul:nth-child(3), footer hr{
      display: none;
    }

    .extra {
      display: block;
      text-align: center;
      margin: 15px 0;
      font-size: 14px;
    } 

    .copyright {
      text-align: center;
    }
  }

